@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Dosis;
    }
}

.active {
    @apply bg-clip-text text-transparent bg-gradient-to-l from-amber-200 to-yellow-900;
}

.socialsHover {
    @apply fill-fuchsia-800;
}

/*
    Replaced with tailwindcss in _app.js

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
  
}
*/

.loader {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(#ee850e, #f7d051, #803707);
    animation: animate7712 1.2s linear infinite;
}
  
@-webkit-keyframes animate7712 {
    0% {
        -webkit-transform: rotate(0deg);
    }
  
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes animate7712 {
    0% {
        -moz-transform: rotate(0deg);
    }
  
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes animate7712 {
    0% {
        -o-transform: rotate(0deg);
    }
  
    100% {
        -o-transform: rotate(360deg);
    }
}

@keyframes animate7712 {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}
  
.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#ee850e, #f7d051, #803707);
}
  
.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: #333;
    border: solid #333 10px;
    border-radius: 50%;
}
  
.loader span:nth-child(1) {
    filter: blur(5px);
}
  
.loader span:nth-child(2) {
    filter: blur(10px);
}
  
.loader span:nth-child(3) {
    filter: blur(25px);
}
  
.loader span:nth-child(4) {
    filter: blur(50px);
}
   